@import url('https://fonts.googleapis.com/css2?family=Kurale&family=Sniglet&display=swap');

header {
    background-color: #F6F6F6;
    max-height: 150px;
    
}

.row {
    margin: 0px;
}


#logo {
    max-width: 150px;
    max-height: 150px;
}

#logo1 {
    max-width: 200px;
    max-height: 200px;
}

.header-items{
    align-self: center;
}

#system-name {
    font-size: 2.6em;
    font-family: 'Kurale', serif;
    color: #000A3D;
}

#account-info {
    font-size: 1.2em;
    color: #30336b;
}

#non-style-btn {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#non-style-btn:hover {
    background: #F6F6F6;
    color: violet;
    padding: 5px;
	
}